# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

*.sqlite-journal
# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

get_db.sh
send_db.sh

*.db
*.sqlite
*.sqlite3
*.sql
*.sqlite3-journal
.venv
migrations/