[Unit]
Description=webhook listener
After=network.target

[Service]
WorkingDirectory=/home/rayan/dev/rayan.sh/ci_cd_files/flask
ExecStart=/home/rayan/dev/rayan.sh/ci_cd_files/flask/.venv/bin/python /home/rayan/dev/rayan.sh/ci_cd_files/flask/main.py
Restart=on-failure
RestartSec=500ms
User=rayan
Group=sudo

[Install]
WantedBy=multi-user.target
