[Unit]
Description=Rayan.sh node server
After=network.target

[Service]
WorkingDirectory=/home/rayan/dev/rayan.sh
ExecStart=/usr/bin/node /home/rayan/dev/rayan.sh/.output/server/index.mjs
Restart=on-failure
RestartSec=500ms
User=rayan
Group=sudo
Environment=SUPABASE_URL="SUPABASE_URL"
Environment=SUPABASE_KEY="SUPABASE_KEY"

[Install]
WantedBy=multi-user.target
