@tailwind base;
@tailwind components;
@tailwind utilities;



/* GLOBAL */

:root {
    --primary-blue: #3273dc;
    --background-color: #E2E8F0;
    --cards-bg: #ffffff;
}

html {
    scroll-behavior: smooth;
    background-color: var(--background-color);
}

/* HERO */

.bg-blue {
    background-color: var(--primary-blue);
}

.header-container {
    margin-top: 5rem;
}

.github-logo img {
    transition: transform 0.3s;
}

.github-logo img:hover {
    transform: scale(1.1);
}

.bg-icon {
    transition: transform 0.3s;
}

.bg-icon:hover {
    transform: scale(1.1);
}



/* SLIDER */

.scroll-wrapper {
    animation: scroll 50s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(-1000px);
    }

    50% {
        transform: translateX(100px);
    }

    100% {
        transform: translateX(-1000px);
    }
}

/* SKILLS */

.skill-card:hover {
    transform: translateY(-10px);
}

/* EXPERIENCE */

.exp-card,
.skill-card {
    transition: transform 0.3s;
    max-width: 500px;
}

.exp-card {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.exp-card-left:hover {
    transform: translateX(-10px);
}

.exp-card-right:hover {
    transform: translateX(10px);
}


/* ARTICLES */

.articles-container {
    display: flex;
    width: 90%;
    height: 100%;
    overflow: hidden;
}

.card {
    width: 40%;
    background-color: #ffffff;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
}


.card:hover {
    transform: translateY(-10px);
}


.card-image {
    width: 100%;
    height: 130px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
    margin-bottom: 16px;
}

.card-title {
    color: #111827;
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 8px;
}

.card-description {
    color: #4b5563;
    font-size: 16px;
    margin-bottom: 16px;
}

.card-button {
    background-color: #3b82f6;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.card-button:hover {
    background-color: #3b82f6dd;
}



/* MEDIA QUERIES */


/* Mobile */
@media (max-width: 768px) {

    .bg-icons {
        display: none;
    }

    /* EXPERIENCE */
    .exp-card a {
        font-size: 0.9rem;
    }

    .exp-card div,
    .exp-card p {
        font-size: 0.8rem;
    }

    /* PROJECTS */
    .projects-links a {
        font-size: 0.8rem;
        margin: 0.5rem;
    }

    .project-card {
        margin: 0.5rem;
    }

    /* ARTICLES */
    .card-title {
        font-size: 0.9rem;
    }

    .articles-container {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 90%;
        margin: 1rem;
    }


}

/* TABLET */
@media (min-width: 768px) and (max-width: 1024px) {
    .bg-icons {
        display: none;
    }
}


/* DESKTOP */
@media (min-width: 1024px) {
    .slider-container {
        display: none;
    }
}